.worning1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #F00;
}
body {
	text-align: center;
	margin-top:0px;
}
.tab_bg {
	background-color: #5099B2;
	font-size: 13px;
	color: #FFF;
}
.title_11 {
	font-family: Gabriola;
	font-size: xx-large;
	color: #000;
}

.body_h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 15px;
	color: #000;
}
#slider {
	position: relative;
	margin: 0px 0px 0px 0px;
	width: 940px;
}

#slider .viewer {
	width: 940px;
	height: 230px;
	border: solid 1px #D4D4D4;
	border-radius: 0px;
}

#slider .slide {
	width: 940px;
	height: 230px;
	padding: 0px;
}

#slider .indicator {
	position: relative;
	text-align: center;
	margin: 5px 0 0 0;
	z-index: 1;
}

#slider .indicator span {
	display: inline-block;
	text-indent: -9999em;
	width: 12px;
	height: 12px;
	background: #E3DFDF;
	border-radius: 6px;
	margin: 0 2px 0 2px;
}

#slider .indicator span.active {
	background: #6E6E6E;
}



a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
	font-weight: bold;
}
.link_bg {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-variant: normal;
	color: #FFF;
	background-color: #000;
}

.content{
	font:Tahoma, Geneva, sans-serif;
	background:#FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
#leged_name_bg {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#FFF;
	background-color: #499F48;
}
.form_title {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:16px
}
.form_font {
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	alignment-adjust:middle;
}


.h1_font{
	font-size:12px;
	color:#FFF;
	font-family: "Berlin Sans FB";
}
.h2_font{
	font-size:13px;
	color:#FFF;
	font-family: Tahoma, Geneva, sans-serif;
}
.h3_font {
	font-family:Verdana, Geneva, sans-serif;
	font-size:12px;
	color:#000;
}
.worning {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	color: #F00;
	font-weight: bold;
}	
.submit2 {
	color: #FFF;
	display: inline;
	background-color: #68B941;
	font-family: Tahoma, Geneva, sans-serif;
}
.deny {
	color: #FFF;
	display: inline;
	background-color: #F00;
	font-family: Tahoma, Geneva, sans-serif;
}
.left_tb_bg {
	background-color: #5099B2;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #FFF;
}
.hom_fot {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	color: #FFF;
	background-color: #69BA42;
}

.largfont {
	font-family: "Lucida Console", Monaco, monospace, "Berlin Sans FB";
	font-size: 16px;
	color: #933;
	text-align: center;
}
.largfont2 {
	font-family: "Lucida Console", Monaco, monospace, "Berlin Sans FB";
	font-size: 18px;
	color: #933;
	text-align: left;
}
#menu1 {
	padding: 0 45px 0 45px;
	position: relative;
	background: #209D9D url(../css/images/.gif) repeat-x top left;
	margin: 0;
	height: 60px;
	width: 100%;
	border-top: solid 1px #5AD7D7;
	border-bottom: solid 1px #1C7575;
	text-shadow: 0 1px 1px #007D7D;
	background-color: #68B941;
}
.menu {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #FFF;
	alignment-adjust: central;
}
.leftside {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	
}
.bdy_link {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.title_1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-weight: bold;
}
.title_2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}
.title_3 {
	font-family: "Adobe Hebrew", Algerian, "Adobe Caslon Pro";
	font-size: xx-large;
	font-weight: normal;
	color: #006;
}
.title_4 {
	font-family: "Adobe Hebrew", Algerian, "Adobe Caslon Pro";
	font-size: 45px;
	font-weight: bold;
}


.confirm {
	background-color: #B0C6FA;
}
.drop {
	background-color: #FFF;
	display: run-in;
	font-family: Tahoma, Geneva, sans-serif;
	color: #000;
	text-decoration: none;
}
.boldfont {
	font-size: 16px;
	font-weight: bold;
	color: #000;
	font-family: Verdana, Geneva, sans-serif;
}
#submit {
	background-color: #499F48;
	display: inline-block;
	list-style-type: square;
	color: #FFF;
}
.messg {
	font-family: Tahoma;
	color: #F00;
	font-size: 36px;
	text-align: center;
}

.messg2 {
	font-family: Tahoma;



	color: #FFF
	font-size: 36px;
	text-align: left;
	font-size: 26px;
	color: #FFF;
}

.Offer {
	text-align: justify;
}
.featbox p {
padding-right: 0px;
PADDING-LEFT: 0px;
padding-bottom: 10px;
padding-top: 0px;
}

.featbox {
BORDER-RIGHT: #dde3ed 1px solid;
padding-right: 10px;
BORDER-TOP: #dde3ed 1px solid;
PADDING-LEFT: 10px;
padding-bottom: 10px;
MARGIN: 10px 0px 0px;
border-left: #DDE3ED 1px solid;
LINE-height: 14px;
padding-top: 0px;
BORDER-BOTTOM: #dde3ed 1px solid;
border-right: ;
border-top: 1px solid #DDE3ED;
margin: 10px 0px 0px;
border-bottom: 1px solid #DDE3ED;
}
.tbfont {
	font-family: "Times New Roman", Times, serif;
}
.h4_font {
	font-family: Verdana, Geneva, sans-serif;
	/* [disabled]font-size: 12px; */
	line-height: 23px;
}
.h5_font {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #000;
}
.h6_font {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	line-height: 25px;
	color: #FFF;
}
